In [14]:
import pandas as pd

# read csv file
Malaysia = pd.read_csv("Malaysia.csv")
Japan = pd.read_csv("Japan.csv")

In [22]:
Malaysia

   出戰馬來西亞名單
0       陳盈駿
1       胡瓏貿
2       周儀翔
3       呂政儒
4       周柏臣
5       陳冠全
6       李啟瑋
7        黃鎮
8       黃泓瀚
9       黃聰翰
10      蔣淯安
11      曾祥鈞